@charset "UTF-8";

html {
	color: #21689e;
	background-color: pink;
	font-family: arial, sans-serif;
	height: 100%;
	font-family: arial, sans-serif;
}

body {
	height: 100%;
	margin: 0 1em;
}

form {
	font-size: smaller;
	padding-left: 95px;
}

fieldset legend {
	font-weight: bold;
	color: #416b91;
	font-size: larger;
}

fieldset {
	border: 0;
	padding: 0 0 0 0;
}

form label {
	display: none;
}

form input {
	margin-top: 5px;
}

form input[type="text"], form input[type="password"] {
	width: 22em;
	font-size: small;
	display: inline-block;
	padding: 4px;
	color: #808080;
	border: 1px solid #ccc;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

form input[type="text"]:focus, form input[type="password"]:focus {
	outline: 0;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

.leftPart {
	width: 11em !important;
}

.domainPart {
	display: inline-block;
}

form input[type="submit"] {
	cursor: pointer;
	display: inline-block;
	color: #ffffff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 3px 14px 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
	background-color: #0064cd;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb),
		to(#0064cd));
	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb),
		color-stop(100%, #0064cd));
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
	background-image: linear-gradient(top, #049cdb, #0064cd);
	border: 1px solid #ccc;
	border-color: #0064cd #0064cd #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb',
		endColorstr='#0064cd', GradientType=0);
}

form input[type="submit"]:active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

form input[type="submit"]:hover {
	background-position: 0 -15px;
	text-decoration: none;
}

form input[type="submit"]:focus {
	outline: 1px dotted #666;
}

#sso-title {
	text-align: left;
	font-size: small;
	color: #416b91;
	margin: 20px 0 0 0;
	padding: 0 0 0 15px;
}

#sso-logo {
	vertical-align: middle;
	padding: 0 0 0 0;
	margin-right: 15px;
}

#sso-identified {
	width: 30em;
	margin: auto;
	font-size: small;
	font-weight: bold;
	padding: 5px 1em;
	text-align: center;
}

#sso-logout {
	margin: auto;
	margin-top: 1em;
	width: 35em;
	font-size: small;
	text-align: center;
}

#sso-body {
	position: relative;
	top: 100px;
	margin: auto;
	width: 490px;
	height: 260px;
	background: #FFF;
	border: 1px solid #9db0bf;
	-webkit-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
	box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
	border: 1px solid #9db0bf;
	padding: 20px;
	background: #FFF;
}

#corner {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 65px 65px;
	border-color: transparent transparent #6fbae1 transparent;
	position: absolute;
	right: 0px;
	top: 235px;
}

#version {
	position: absolute;
	right: 4px;
	top: 270px;
	font-size: smaller;
	color: #FFF;
}

#buildVersion {
	position: absolute;
	right: 4px;
	top: 285px;
	font-size: 50%;
	color: #FFF;
}

.form-errors {
	list-style: none;
	margin: 0;
	padding: 0;
}

.errors {
	display: inline;
}

.errors li {
	color: red;
	display: inline;
}

#sso-links {
	position: relative;
	top: 100px;
	font-size: x-small;
	text-align: center;
	padding: 7px 14px;
	color: #21689e;
}

#sso-links li {
	display: inline;
}

#sso-links span {
	padding: 0 5px;
}

#sso-applications {
	width: 35em;
	font-size: x-small;
	text-align: center;
	padding: 7px 14px;
}

#sso-applications li {
	margin-left: 25px;
	display: inline;
	text-shadow: 0 1px 0 #ffffff;
}

a:hover {
	color: #00438A;
	text-decoration: underline;
}

a:hover, a:active {
	outline: 0px;
}

a:hover, a:active {
	outline: 0px;
}

a {
	color: #21689e;
	font-weight: inherit;
	line-height: inherit;
	text-decoration: none;
}