.header {
	background-color: #2B2B2B;
	width: 100%;
	color: #FFF;
	border-spacing: 0;
	border-collapse: collapse;
	padding: 2px 4px;
}

.statusContainer {
	position: absolute;
	top: 18px;
}

.photo {
	padding: 0px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	vertical-align: middle;
}

.infos {
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
}

.infos table {
	border-spacing: 0;
	border-collapse: collapse;
}

.displayName {
	position: absolute;
	top: 4px;
	left: 40px;
	white-space: pre;
}

.statusLabel {
	font-size: 80%;
	font-style: italic;
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 66px;
}

.statusDropDownMenu {
	float: right;
	cursor: pointer;
	margin-right: 10px;
	margin-top: 6px;
	font-size: 70%;
}

.statusMenuItem {
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	display: inline-block;
	height: 7px;
	width: 8px;
	vertical-align: middle;
}