/**
 * Roundcube webmail styles for skin "Larry"
 *
 * Copyright (c) 2012, The Roundcube Dev Team
 * Screendesign by FLINT / Büro für Gestaltung, bueroflint.com
 *
 * The contents are subject to the Creative Commons Attribution-ShareAlike
 * License. It is allowed to copy, distribute, transmit and to adapt the work
 * by keeping credits to the original autors in the README file.
 * See http://creativecommons.org/licenses/by-sa/3.0/ for details.
 *
 * $Id$
 */

body {
	color: #333;
	margin: 0;
}


body.noscroll {
	/* also avoids bounce effect in Chrome and Safari */
	overflow: hidden;
}

a {
	color: #0069a6;
}

a:visited {
	color: #0186ba;
}

img {
  image-orientation: from-image;
  border: 0;
}

.bold {
	font-weight: bold;
}

/*** buttons ***/

input.button {
	display: inline-block;
	margin: 0 2px;
	padding: 2px 5px;
	color: #525252;
	text-shadow: 0px 1px 1px #fff;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	background: #f7f7f7;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e6e6e6));
	background: -o-linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%);
	background: linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%);
	box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
	-o-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
	-webkit-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
	-moz-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
	text-decoration: none;
	outline: none;
}

.formbuttons input.button {
	color: #ddd;
	font-size: 110%;
	text-shadow: 0px 1px 1px #333;
	padding: 4px 12px;
	border-color: #465864;
	border-radius: 5px;
	background: #7a7b7d;
	background: -moz-linear-gradient(top, #7b7b7b 0%, #606060 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b7b7b), color-stop(100%,#606060)); /* Chrome,Safari4+ */
	background: -o-linear-gradient(top, #7b7b7b 0%, #606060 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7b7b7b 0%, #606060 100%); /* IE10+ */
	background: linear-gradient(top, #7b7b7b 0%, #606060 100%); /* W3C */
	box-shadow: 0 1px 1px 0 #ccc, inset 0 1px 0 0 #888;
	-o-box-shadow: 0 1px 1px 0 #ccc, inset 0 1px 0 0 #888;
	-webkit-box-shadow: 0 1px 1px 0 #ccc, inset 0 1px 0 0 #888;
	-moz-box-shadow: 0 1px 1px 0 #ccc, inset 0 1px 0 0 #888;
}

.formbuttons input.button:hover,
.formbuttons input.button:focus,
input.button.mainaction:hover,
input.button.mainaction:focus {
	color: #f2f2f2;
	border-color: #465864;
	box-shadow: 0 0 5px 2px rgba(71,135,177, 0.6), inset 0 1px 0 0 #888;
	-moz-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.6), inset 0 1px 0 0 #888;
	-webkit-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.6), inset 0 1px 0 0 #888;
	-o-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.6), inset 0 1px 0 0 #888;
}

.formbuttons input.button:active {
	color: #fff;
	background: -moz-linear-gradient(top, #5c5c5c 0%, #7b7b7b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c5c5c), color-stop(100%,#7b7b7b));
	background: -o-linear-gradient(top, #5c5c5c 0%, #7b7b7b 100%);
	background: -ms-linear-gradient(top, #5c5c5c 0%, #7b7b7b 100%);
	background: linear-gradient(top, #5c5c5c 0%, #7b7b7b 100%);
}

input.button.mainaction {
	color: #ededed;
	text-shadow: 0px 1px 1px #333;
	border-color: #1f262c;
	background: #505050;
	background: -moz-linear-gradient(top, #505050 0%, #2a2e31 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505050), color-stop(100%,#2a2e31));
	background: -o-linear-gradient(top, #505050 0%, #2a2e31 100%);
	background: -ms-linear-gradient(top, #505050 0%, #2a2e31 100%);
	background: linear-gradient(top, #505050 0%, #2a2e31 100%);
	box-shadow: inset 0 1px 0 0 #777;
	-moz-box-shadow: inset 0 1px 0 0 #777;
	-webkit-box-shadow: inset 0 1px 0 0 #777;
	-o-box-shadow: inset 0 1px 0 0 #777;
}

input.button.mainaction:active {
	color: #fff;
	background: #515151;
	background: -moz-linear-gradient(top, #2a2e31 0%, #505050 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2e31), color-stop(100%,#505050));
	background: -o-linear-gradient(top, #2a2e31 0%, #505050 100%);
	background: -ms-linear-gradient(top, #2a2e31 0%, #505050 100%);
	background: linear-gradient(top, #2a2e31 0%, #505050 100%);
}

input.button[disabled],
input.button[disabled]:hover,
input.button.mainaction[disabled] {
	color: #aaa !important;
}

input.mainaction {
	font-weight: bold;
}

/** link buttons **/

a.button {
	display: inline-block;
	margin: 0 2px;
	padding: 2px 5px;
	color: #525252;
	text-shadow: 0px 1px 1px #fff;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	background: #f7f7f7;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e6e6e6));
	background: -o-linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%);
	background: linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%);
	box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
	-o-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
	-webkit-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
	-moz-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
	text-decoration: none;
}

a.button:focus,
input.button:focus {
	border-color: #4fadd5;
	box-shadow: 0 0 2px 1px rgba(71,135,177, 0.6);
	-moz-box-shadow: 0 0 2px 1px rgba(71,135,177, 0.6);
	-webkit-box-shadow: 0 0 2px 1px rgba(71,135,177, 0.6);
	-o-box-shadow: 0 0 2px 1px rgba(71,135,177, 0.6);
	outline: none;
}


label.disabled,
a.button.disabled {
	color: #999;
}

a.button.disabled,
input.button.disabled,
input.button[disabled],
a.button.disabled:hover,
input.button.disabled:hover,
input.button[disabled]:hover {
	border-color: #c6c6c6;
	box-shadow: 0 1px 1px 0 rgba(160, 160, 160, 0.4);
	-o-box-shadow: 0 1px 1px 0 rgba(160, 160, 160, 0.4);
	-webkit-box-shadow: 0 1px 1px 0 rgba(160, 160, 160, 0.4);
	-moz-box-shadow: 0 1px 1px 0 rgba(160, 160, 160, 0.4);
}

a.button.disabled span.inner {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

a.button.pressed,
a.button:active,
input.button:active {
	background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #f9f9f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#f9f9f9));
	background: -o-linear-gradient(top, #e6e6e6 0%, #f9f9f9 100%);
	background: -ms-linear-gradient(top, #e6e6e6 0%, #f9f9f9 100%);
	background: linear-gradient(top, #e6e6e6 0%, #f9f9f9 100%);
}


.pagenav a.goog-button-base span.inner {
	display: inline-block;
	width: 16px;
	height: 13px;
	text-indent: 1000px;
	overflow: hidden;
	background: url(images/buttons.png) -6px -211px no-repeat;
}

.pagenav a.prevpage,
.pagenav a.nextpage  {
  color: #666;
}

.pagenav a.reply span.inner {
	background-position: -7px -256px;
}

.pagenav a.forward span.inner {
	background-position: -29px -256px;
}

.pagenav a.replyall span.inner {
	background-position: -7px -271px;
}

.pagenav a.extwin span.inner {
	background-position: -29px -271px;
}

.pagenav .countdisplay {
	display: inline-block;
	padding: 3px 1em 0 1em;
	text-shadow: 0px 1px 1px #fff;
	min-width: 14em;
}

.pagenavbuttons {
	position: relative;
	top: 0;
}

.iconbutton {
	display: inline-block;
	text-decoration: none;
	text-indent: -5000px;
	background: url(images/buttons.png) -1000px 0 no-repeat;
}

a.iconbutton {
	width: 24px;
	height: 18px;
}

.iconbutton.disabled {
	opacity: 0.4;
	filter: alpha(opacity=40);
	cursor: default;
}

a.iconbutton.searchoptions {
	background-position: -2px -317px;
}

a.reset {
  text-decoration: none;
  color: #CCC!important;
  font-size: large;
}

a.iconbutton.cancel {
	background-position: -7px -377px;
}

a.iconlink {
	display: inline-block;
	color: #888;
	text-decoration: none;
	white-space: nowrap;
	padding: 2px 8px 2px 20px;
	background: url(images/buttons.png) -1000px 0 no-repeat;
}

a.iconlink:hover {
	text-decoration: underline;
}

a.iconlink.delete {
	background-position: -7px -337px;
}

a.iconlink.add {
	background-position: -7px -357px;
}

a.iconlink.remove {
	background-position: -7px -378px;
}

a.iconlink.cancel {
	background-position: -7px -397px;
}

a.iconlink.edit {
	background-position: -7px -417px;
}

a.iconlink.upload {
	background-position: -6px -437px;
}


/*** message bar ***/

#message div.loading,
#message div.warning,
#message div.error,
#message div.notice,
#message div.confirmation,
#message-objects div.notice {
	color: #555;
	font-weight: bold;
	padding: 6px 30px 6px 25px;
	display: inline-block;
	white-space: nowrap;
	background: url(images/messages.png) 0 5px no-repeat;
	cursor: default;
}

#message div.warning {
	color: #960;
	background-position: 0 -86px;
}

#message div.error {
	color: #cf2734;
	background-position: 0 -55px;
}

#message div.confirmation {
	color: #093;
	background-position: 0 -25px;
}

#message div.loading {
	background: url(images/ajaxloader.gif) 2px 6px no-repeat;
}

#message div a,
#message div span {
	padding-right: 0.5em;
	text-decoration: none;
}

#message div a:hover {
	text-decoration: underline;
	cursor: pointer;
}

#message.statusbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 27px;
	padding-left: 8px;
	border-top: 1px solid #eee;
	background: #eee;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-dialog.error .ui-dialog-title,
.ui-dialog.warning .ui-dialog-title,
.ui-dialog.confirmation .ui-dialog-title {
	padding-left: 25px;
	background: url(images/messages.png) 0 5px no-repeat;
	text-shadow: 0 1px 1px #fff;
}

.ui-dialog.warning .ui-dialog-title {
	color: #960;
	background-position: 0 -90px;
}

.ui-dialog.error .ui-dialog-title {
	color: #cf2734;
	background-position: 0 -60px;
}

.ui-dialog.confirmation .ui-dialog-title {
	color: #093;
	background-position: 0 -30px;
}

.ui-dialog.popupmessage .ui-dialog-titlebar {
	padding: 8px 1em 4px 1em;
	background: #e3e3e3;
	background: -moz-linear-gradient(top, #e3e3e3 0%, #cfcfcf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#cfcfcf));
	background: -o-linear-gradient(top, #e3e3e3 0%, #cfcfcf 100%);
	background: -ms-linear-gradient(top, #e3e3e3 0%, #cfcfcf 100%);
	background: linear-gradient(top, #e3e3e3 0%, #cfcfcf 100%);
}

.ui-dialog.popupmessage .ui-widget-content {
	font-size: 12px;
	background: #eee;
	background: -moz-linear-gradient(top, #eee 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#dcdcdc));
	background: -o-linear-gradient(top, #eee 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #eee 0%, #dcdcdc 100%);
	background: linear-gradient(top, #eee 0%, #dcdcdc 100%);
}


/*** basic page layout ***/

#topline {
	height: 18px;
	background:  #fff;
	border-bottom: 1px solid #4f4f4f;
	padding: 2px 0 2px 10px;
	color: #aaa;
}

#topnav {
	position: relative;
	height: 46px;
	margin-bottom: 10px;
	padding: 0 0 0 10px;
	background: #fff;
}

#topline a,
#topnav a {
	color: #eee;
	text-decoration: none;
}

#topline a:hover {
	text-decoration: underline;
}

#toplogo {
	padding-top: 2px;
}

.topleft {
	float: left;
}

.topright {
	float: right;
}

.closelink {
	display: inline-block;
	padding: 2px 10px 2px 20px;
}

#topline span.username {
	padding-right: 1em;
}

#topline .topleft a {
	display: inline-block;
	padding: 2px 0.8em 0 0;
	color: #aaa;
}

#topline a.button-logout {
	display: inline-block;
	padding: 2px 10px 2px 20px;
	background: url(images/buttons.png) -6px -193px no-repeat;
	color: #fff;
}


/*** taskbar ***/

#taskbar a {
	display: inline-block;
	height: 34px;
	padding: 12px 10px 0 6px;
}

#taskbar a span.button-inner {
	display: inline-block;
	font-size: 110%;
	font-weight: normal;
	text-shadow: 0px 1px 1px black;
	padding: 5px 0 0 34px;
	height: 19px;
	background: url(images/buttons.png) -1000px 0 no-repeat;
}

#taskbar a.button-selected {
	color: #3cf;
	background-color: #2c2c2c;
}

#taskbar a.button-mail span.button-inner {
	background-position: 0 2px;
}

#taskbar a.button-mail:hover span.button-inner,
#taskbar a.button-mail.button-selected span.button-inner {
	background-position: 0 -22px;
}

#taskbar a.button-addressbook span.button-inner {
	background-position: 0 -48px;
}

#taskbar a.button-addressbook:hover span.button-inner,
#taskbar a.button-addressbook.button-selected span.button-inner {
	background-position: 0 -72px;
}

#taskbar a.button-settings span.button-inner {
	background-position: 0 -96px;
}

#taskbar a.button-settings:hover span.button-inner,
#taskbar a.button-settings.button-selected span.button-inner {
	background-position: 0 -120px;
}

#taskbar a.button-calendar span.button-inner {
	background-position: 0 -144px;
}

#taskbar a.button-calendar:hover span.button-inner,
#taskbar a.button-calendar.button-selected span.button-inner {
	background-position: 0 -168px;
}

#mainscreen {
	position: absolute;
	top: 87px;
	left: 5px;
	right: 10px;
	bottom: 20px;
}

#mainscreen.offset {
	top: 130px;
}

#mainscreen .offset {
	margin-top: 42px;
}

.uibox {
	border: 1px solid #eee;
	overflow: hidden;
	background: #fff;
}

.minwidth {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	min-width: 1016px;
}

.scroller {
	overflow: auto;
}

.readtext {
	width: 42em;
	padding: 12px;
	font-size: 12px;
}

.readtext > h1,
.readtext > h2,
.readtext > h3 {
	margin-top: 0;
}

.watermark {
	background-image: url(images/watermark.png);
	background-position: center;
	background-repeat: no-repeat;
}

/*** lists ***/

.listbox {
	overflow: hidden;
}

.listbox .scroller {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.listbox .scroller.withfooter {
	bottom: 42px;
}

.listbox .boxtitle + .scroller {
	top: 34px;
}

.boxtitle,
.uibox .listing thead td {
	font-weight: bold;
	font-size: 100%;
	height: 2.2em;
	line-height: 2.2em;
	border-bottom: 1px solid #eee;
	white-space: nowrap;
	margin: 0;
	padding: 0 0 0 8px;
}

.uibox .listing thead td {
	padding-bottom: 8px;
	height: auto;
}

.uibox .boxtitle,
.uibox .listing thead td {
	background: #eee;
}

.listbox .listitem,
.listbox .tablink,
.listing tbody td,
.listing li {
  display: block;
  border-top: none;
  border-bottom: 1px solid #EEE;
  cursor: default;
  background-color: #fff;
}

.listbox .listitem a,
.listbox .tablink a,
.listing tbody td,
.listing li a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 6px 8px 2px 8px;
  white-space: nowrap;
}

.listing tbody td {
  display: table-cell;
  padding-bottom: 5px;
  height: auto;
  min-height: 14px;
}

.webkit .listing tbody td {
	height: 14px;
}

.listbox .listitem.selected,
.listbox .tablink.selected,
.listbox .listitem.selected > a,
.listbox .tablink.selected > a,
.listing tbody tr.unfocused td,
.listing tbody tr.selected td,
.listing li.selected > a {
	font-weight: bold;
	background-color: #C4E0EC;
}

ul.listing {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.listing li:first-child {
  border-top: none;
}

ul.listing li:hover {
  background-color: #e6f3f8;
  cursor: pointer;
}

ul.listing li.droptarget,
table.listing tr.droptarget td {
	background-color: #e8e798;
}

table.listing,
table.layout {
	border: 0;
	width: 100%;
	border-spacing: 0;
}

table.layout td {
	vertical-align: top;
}

.listbox .boxfooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.2em;
  border-top: 1px solid #ccdde4;
  background: #EEE;
  white-space: nowrap;
  overflow: hidden;
}

.boxfooter .countdisplay {
  display: inline-block;
  position: relative;
  top: 5px;
  padding: 1px 6px;
}

.boxpagenav {
	position: absolute;
	top: 5px;
	right: 6px;
	width: auto;
}

.boxpagenav .btn {
  color: #333;
  padding: 0px 4px;
  text-decoration: none;
}

.boxpagenav .disabled {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.centerbox {
	width: 40em;
	margin: 16px auto;
}

.errorbox {
	width: 40em;
	padding: 20px;
}

.errorbox h3 {
	font-size: 16px;
	margin-top: 0;
}


/*** Records table ***/

table.records-table {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #bbd3da;
}

.boxlistcontent .records-table {
	border: 0;
}

.records-table thead td {
	font-weight: bold;
	background: #EEE;
	padding: 8px 7px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.records-table.sortheader thead td {
	padding: 0 0 0 4px;
}

.records-table thead td a,
.records-table thead td span {
	display: block;
	color: #333;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
}

.records-table tbody td {
	padding: 2px 7px;
	border-bottom: 1px solid #ddd;
	white-space: nowrap;
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #fff;
}

.records-table thead tr td:first-child,
.records-table tbody tr td:first-child {
	border-left: 0;
}

.records-table tr.selected td {
	color: #fff !important;
	background: #019bc6;
	background: -moz-linear-gradient(top, #019bc6 0%, #017cb4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#019bc6), color-stop(100%,#017cb4));
	background: -o-linear-gradient(top, #019bc6 0%, #017cb4 100%);
	background: -ms-linear-gradient(top, #019bc6 0%, #017cb4 100%);
	background: linear-gradient(top, #019bc6 0%, #017cb4 100%);
}

.records-table tr.selected td a,
.records-table tr.selected td span {
	color: #fff !important;
}

.records-table tr.unfocused td {
	color: #fff !important;
	background: #4db0d2 !important;
}

.records-table tr.unfocused td a,
.records-table tr.unfocused td span {
	color: #fff !important;
}

.records-table tr.deleted td,
.records-table tr.deleted td a {
	color: #ccc !important;
}


/*** iFrames ***/

#aboutframe {
	width: 97%;
	height: 100%;
	border: 0;
	padding: 0;
}

body.iframe {
	background: #fff;
	margin: 38px 0 10px 0;
}

body.iframe.floatingbuttons {
	margin-bottom: 40px;
}

body.iframe.fullheight {
	margin: 0;
}

.contentbox .boxtitle,
body.iframe .boxtitle {
	color: #777;
	background: #eee;
	border-bottom: 1px solid #ccc;
}

body.iframe .boxtitle {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

body.iframe .footerleft.floating {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 110;
	background: #fff;
	padding-top: 8px;
	padding-bottom: 12px;
}

body.iframe .footerleft.floating:before {
	content: " ";
	position: absolute;
	top: -6px;
	left: 0;
	width: 100%;
	height: 6px;
	background: url(images/overflowshadow.png) top center no-repeat;
}

.boxcontent {
	padding: 10px;
}

.contentbox .scroller {
	position: absolute;
	top: 34px;
	left: 0;
	right: 0;
	bottom: 28px;
	overflow: auto;
}

.iframebox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 28px;
}

.footerleft {
	padding: 0 12px 4px 12px;
}

.propform fieldset {
	margin-bottom: 20px;
	border: 0;
	padding: 0;
}

.propform fieldset legend {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.propform fieldset fieldset legend {
	color: #333;
	font-size: 12px;
}

fieldset.floating {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

table.propform {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

ul.proplist li,
table.propform td {
	width: 80%;
	padding: 4px 10px;
	background: #eee;
	border-bottom: 2px solid #fff;
}

table.propform td.title {
	width: 20%;
	color: #333;
	padding-right: 20px;
	white-space: nowrap;
}

table.propform .mceLayout td {
	padding: 0;
	border-bottom: 0;
}

ul.proplist {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.proplist li {
	width: auto;
}

#pluginbody {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


/*** Login form ***/

#login-form {
	position: relative;
	width: 580px;
	margin: 20ex auto 2ex auto;
}

#login-form .box-inner {
	width: 430px;
	background: url(images/linen_login.jpg) top left no-repeat #5c5c5c;
	margin: 0 50px;
	padding: 10px 24px 24px 24px;
	border: 1px solid #333;
	border-radius: 5px;
	box-shadow: inset 0 0 1px #ccc;
	-o-box-shadow: inset 0 0 1px #ccc;
	-webkit-box-shadow: inset 0 0 1px #ccc;
	-moz-box-shadow: inset 0 0 1px #ccc;
}

#login-form .box-bottom {
	background: url(images/login_shadow.png) top center no-repeat;
	margin-top: -3px;
	padding-top: 10px;
}

#login-form td.input {
	width: 80%;
	padding: 8px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
	width: 100%;
	border-color: #666;
}

#login-form input.button {
	color: #444;
	text-shadow: 0px 1px 1px #fff;
	border-color: #f9f9f9;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e2e2e2));
	background: -o-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
	background: linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
	box-shadow: inset 0 1px 0 0 #fff;
	-moz-box-shadow: inset 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	-o-box-shadow: inset 0 1px 0 0 #fff;
}

#login-form input.button:hover,
#login-form input.button:focus {
	box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9), inset 0 1px 0 0 #fff;
	-moz-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9), inset 0 1px 0 0 #fff;
	-webkit-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9), inset 0 1px 0 0 #fff;
	-o-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9), inset 0 1px 0 0 #fff;
}

#login-form input.button:active {
	color: #333;
	background: -moz-linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(100%,#f9f9f9));
	background: -o-linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
	background: -ms-linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
	background: linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
}

#login-form form table {
	width: 98%;
}

#login-form td.title {
	width: 20%;
	white-space: nowrap;
	color: #cecece;
	text-shadow: 0px 1px 1px black;
	text-align: right;
	padding-right: 1em;
}

#login-form p.formbuttons {
	margin-top: 2em;
	text-align: center;
}

#login-form #logo {
	margin-bottom: 20px;
}

#login-form #message {
	min-height: 40px;
	padding: 5px 25px;
	text-align: center;
}

#login-form #message div {
	display: inline-block;
	padding-right: 0;
}

#bottomline {
	font-size: 90%;
	text-align: center;
	margin-top: 2em;
}



/*** quicksearch **/

#quicksearchbar {
	position: absolute;
	left: 216px;
	top: 53px;
	width: 314px;
}

#quicksearchbar input {
	width: 250px;
	margin: 0;
	padding: 3px 30px 3px 34px;
	height: 18px;
	font-weight: bold;
}

#quicksearchbar #searchmenulink {
	position: absolute;
	top: 5px;
	left: 6px;
}

#quicksearchbar #searchreset {
	position: absolute;
	top: 4px;
	right: 1px;
}


/*** toolbar ***/

.toolbar .spacer {
	display: inline-block;
	width: 24px;
	padding: 0;
}

.toolbar a.button {
	text-align: center;
	font-size: 10px;
	color: #555;
	min-width: 50px;
	max-width: 75px;
	height: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 28px 2px 0 2px;
	text-shadow: 0px 1px 1px #eee;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	background: url(images/buttons.png) -100px 0 no-repeat transparent;
	border: 0;
}

a.menuselector {
	display: inline-block;
	border: 1px solid #ababab;
	border-radius: 4px;
	background: #f8f8f8;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
	background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #dddddd 100%);
	background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	text-decoration: none;
	color: #333;
	cursor: pointer;
	white-space: nowrap;
}

a.goog-menu-button .handle {
	display: inline-block;
	padding: 0 5px 0 0;
}

select.decorated {
	position: relative;
	z-index: 10;
	opacity: 0;
	height: 22px;
	cursor: pointer;
	filter: alpha(opacity=0);
	-khtml-appearance: none;
	-webkit-appearance: none;
}

html.opera select.decorated {
	opacity: 1;
}

select.decorated option {
	color: #fff;
	background: #444;
	border: 0;
	border-top: 1px solid #5a5a5a;
	border-bottom: 1px solid #333;
	text-shadow: 0px 1px 1px #333;
	padding: 4px 6px;
	outline: none;
}


/*** quota indicator ***/

#quotadisplay {
  font-size: small;
  position: absolute;
  right: 6px;
  font-weight: bold;
  padding-left: 30px;
  background: url(images/quota.png) -100px 0 no-repeat;
}

/*** popup menus ***/

.popupmenu,
#rcmKSearchpane {
	display: none;
	position: absolute;
	top: 32px;
	left: 90px;
	width: auto;
	background: #fff;
	border: 1px solid #999;
	z-index: 240;
	border-radius: 4px;
	box-shadow: 0 2px 6px 0 #333;
	-moz-box-shadow: 0 2px 6px 0 #333;
	-webkit-box-shadow: 0 2px 6px 0 #333;
	-o-box-shadow: 0 2px 6px 0 #333;
}

.popupmenu.dropdown {
	border-radius: 0 0 4px 4px;
	border-top: 0;
}

ul.toolbarmenu li span.fa:before {
  padding-right: 5px;
}

ul.toolbarmenu,
#rcmKSearchpane ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.googie_list td,
ul.toolbarmenu li,
#rcmKSearchpane ul li {
	white-space: nowrap;
	min-width: 130px;
	margin: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid #EEE;
}

.googie_list tr:first-child td,
ul.toolbarmenu li:first-child,
select.decorated option:first-child {
	border-top: 0;
}

.googie_list tr:last-child td,
ul.toolbarmenu li:last-child,
select.decorated option:last-child {
	border-bottom: 0;
}

.googie_list td span,
ul.toolbarmenu li a {
	display: block;
	color: #333;
	text-decoration: none;
	min-height: 14px;
	padding: 6px 10px 6px 10px;
}

.googie_list td span {
	padding: 3px 10px;
}

.googie_list td span,
ul.toolbarmenu li a.active {
	cursor: default;
}


.googie_list td span,
ul.toolbarmenu li a.disabled{
	color: #ccc;
}

.googie_list td.googie_list_onhover,
ul.toolbarmenu li a:hover,
#rcmKSearchpane ul li.selected,
select.decorated option:hover,
select.decorated option[selected='selected'] {
	background-color: #d6e9f8;
}

ul.toolbarmenu.iconized li a,
ul.toolbarmenu.selectable li a {
	padding-left: 30px;
}

ul.toolbarmenu.selectable li a.selected {
	background: url(images/messages.png) 4px -27px no-repeat;
}

ul.toolbarmenu li label {
	display: block;
	color: #333;
	padding: 4px 8px;
}

ul.toolbarmenu li a.icon {
	padding: 2px 6px;
}

ul.toolbarmenu li span.icon {
	display: block;
	min-height: 14px;
	padding: 4px 4px 1px 12px;
	height: 17px;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

ul.toolbarmenu li span.iconized {
  display:inline;
  padding: 0px 4px;
  line-height: 25px;
}

ul.toolbarmenu li a.active span.icon {
	opacity: 0.99;
	filter: alpha(opacity=100);
}

ul.toolbarmenu li span.read {
	background-position: 0 -1220px;
}

ul.toolbarmenu li span.unread {
	background-position: 0 -1196px;
}

ul.toolbarmenu li span.flagged {
	background-position: 0 -1244px;
}

ul.toolbarmenu li span.unflagged {
	background-position: 0 -1268px;
}

ul.toolbarmenu li span.mail {
	background-position: 0 -1293px;
}

ul.toolbarmenu li span.list {
	background-position: 0 -1317px;
}

ul.toolbarmenu li span.invert {
	background-position: 0 -1340px;
}

ul.toolbarmenu li span.cross {
	background-position: 0 -1365px;
}

ul.toolbarmenu li span.print {
	background-position: 0 -1436px;
}

ul.toolbarmenu li span.download {
	background-position: 0 -1412px;
}

ul.toolbarmenu li span.edit {
	background-position: 0 -1388px;
}

ul.toolbarmenu li span.viewsource {
	background-position: 0 -1460px;
}

ul.toolbarmenu li span.extwin {
	background-position: 0 -1484px;
}

ul.toolbarmenu li span.conversation {
	background-position: 0 -1532px;
}

#rcmKSearchpane {
	border-radius: 0 0 4px 4px;
	border-top: 0;
}

#rcmKSearchpane ul li {
	text-decoration: none;
	min-height: 14px;
	padding: 6px 10px 6px 10px;
	border: 0;
	cursor: default;
}

.popupdialog {
	display: none;
	padding: 10px;
}

.popupdialog .formbuttons {
	margin: 20px 0 4px 0;
}

.ui-dialog .prompt input {
	display: block;
	margin: 8px 0;
}

.hint {
	margin: 4px 0;
	color: #999;
	text-shadow: 0px 1px 1px #fff;
}

.splitter {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  position: absolute;
}

.splitter-h {
	height: 5px;
	width: 10px;
	cursor: n-resize;
	cursor: row-resize;
	background-position: center 0;
}

div.splitter-v {
  height: 100%;
}
span.splitter-v {
  cursor: e-resize;
  cursor: col-resize;
  position: absolute;
  top: 50%;
  left: 1px;
}

div.splitter-h {
  width: 100%;
}
span.splitter-h {
  cursor: n-resize;
  cursor: row-resize;
  position: absolute;
  left: 50%;
  top: -3px;
}


#rcmdraglayer {
	min-width: 260px;
	width: auto !important;
	width: 260px;
	padding: 6px 8px;
	background: #444;
	border: 1px solid #555;
	border-radius: 4px;
	box-shadow: 0 2px 6px 0 #333;
	-moz-box-shadow: 0 2px 6px 0 #333;
	-webkit-box-shadow: 0 2px 6px 0 #333;
	-o-box-shadow: 0 2px 6px 0 #333;
	z-index: 250;
	color: #ccc;
	white-space: nowrap;
	opacity: 0.92;
	filter: alpha(opacity=92);
	text-shadow: 0px 1px 1px #333;
}

#rcmdraglayer:after {
	content: "";
	position: absolute;
	top: 6px;
	left: -6px;
	border-style: solid;
	border-width: 6px 6px 6px 0;
	border-color: transparent #444;
	/* reduce the damage in FF3.0 */
	display: block; 
	width: 0;
	z-index: 251;
}

.draglayercopy:before {
	position: absolute;
	bottom: -6px;
	left: -6px;
	content: " ";
	width: 16px;
	height: 16px;
	background: url(images/buttons.png) -7px -358px no-repeat;
	z-index: 255;
}


/*** attachment list ***/

.attachmentslist {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.attachmentslist li {
	display: block;
	position: relative;
	background: url(images/filetypes.png) 0 0 no-repeat;
	margin-bottom: 1px;
}

.attachmentslist li.pdf {
	background-position: 0 -26px;
}

.attachmentslist li.doc,
.attachmentslist li.docx,
.attachmentslist li.msword {
	background-position: 0 -52px;
}

.attachmentslist li.odt {
	background-position: 0 -78px;
}

.attachmentslist li.xls,
.attachmentslist li.xlsx,
.attachmentslist li.msexcel {
	background-position: 0 -104px;
}

.attachmentslist li.ods {
	background-position: 0 -130px;
}

.attachmentslist li.zip,
.attachmentslist li.gz {
	background-position: 0 -156px;
}

.attachmentslist li.rar {
	background-position: 0 -182px;
}

.attachmentslist li.image {
	background-position: 0 -208px;
}

.attachmentslist li.jpg,
.attachmentslist li.jpeg {
	background-position: 0 -234px;
}

.attachmentslist li.png {
	background-position: 0 -260px;
}

.attachmentslist li.m4p {
	background-position: 0 -286px;
}

.attachmentslist li.mp3,
.attachmentslist li.audio {
	background-position: 0 -312px;
}

.attachmentslist li.video {
	background-position: 0 -338px;
}

.attachmentslist li.txt,
.attachmentslist li.text {
	background-position: 0 -416px;
}

.attachmentslist li.ics,
.attachmentslist li.calendar {
	background-position: 0 -364px;
}

.attachmentslist li.vcard {
	background-position: 0 -390px;
}

.attachmentslist li.html {
	background-position: 0 -442px;
}

.attachmentslist li a,
#compose-attachments ul li {
	display: block;
	color: #333;
	font-weight: bold;
	padding: 8px 4px 3px 30px;
	text-shadow: 0px 1px 1px #fff;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#compose-attachments ul li {
	padding-right: 28px;
}

.attachmentslist li a:hover {
	text-decoration: underline;
}

.attachmentslist li.uploading {
	background: url(images/ajaxloader.gif) 2px 6px no-repeat;
}

.attachmentslist li span.delete {
	position: absolute;
	top: 2px;
	right: 0;
        cursor: pointer;
}

.attachmentslist li a.delete,
.attachmentslist li a.cancelupload {
	position: absolute;
	top: 6px;
	right: 0;  
	top: 6px;
	width: 24px;
	height: 18px;
	padding: 0;
	text-decoration: none;
	text-indent: -5000px;
	background: url(images/buttons.png) -7px -337px no-repeat;
}
.attachmentslist li a.cancelupload {
	top: 0px;
	background-position: -7px -377px;
}


/*** fieldset tabs ***/

.tabsbar {
	margin-bottom: 12px;
	padding-top: 15px;
	height: 27px;
	white-space: nowrap;
}

.tabsbar .tablink {
	padding: 15px 1px 15px 0;
	background: #f8f8f8;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #d3d3d3 50%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(50%,#d3d3d3), color-stop(100%,#f8f8f8));
	background: -webkit-linear-gradient(top, #f8f8f8 0%, #d3d3d3 50%, #f8f8f8 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%, #d3d3d3 50%, #f8f8f8 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%, #d3d3d3 50%, #f8f8f8 100%);
	background: linear-gradient(top, #f8f8f8 0%, #d3d3d3 50%, #f8f8f8 100%);
}

.tabsbar .tablink:last-child {
	background: none;
}

.tabsbar .tablink:last-child a {
	border-right: 0;
}

.tabsbar .tablink a {
	padding: 15px;
	color: #999;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background: #fff;
	border-right: 1px solid #fafafa;
}

.tabsbar .tablink.selected a {
	color: #004458;
	background: #f6f6f6;
	background: -moz-linear-gradient(top, #fff 40%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#fff), color-stop(100%,#efefef));
	background: -o-linear-gradient(top, #fff 40%, #efefef 100%);
	background: -ms-linear-gradient(top, #fff 40%, #efefef 100%);
	background: linear-gradient(top, #fff 40%, #efefef 100%);
}

fieldset.tab {
	border: 0;
	padding: 0;
	margin-left: 0;
}

#mailboxoptionsmenu a {
  	color: #ccc;
	cursor: default;
}


#mailboxoptionsmenu a.active {
  	color: #333;
	cursor: auto;
}

