<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="gwt:property" content="locale=${BMLang}"/>
    ${cssRuntime}
    <link rel="shortcut icon"  type="image/x-icon" href="favicon.ico"></link>
    
    <title>${appName} - BlueMind</title>    
  </head>

  <body>
	
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex="-1" style="position:absolute;width:0;height:0;border:0">
    <!-- comment -->
    </iframe>
    
   ${jsRuntime}
  <noscript>
    <div>
      Your web browser must have JavaScript enabled
      in order for this application to display correctly.
    </div>
  </noscript>
 </body>
</html>
