<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="gwt:property" content="locale=${BMLang}" />
    <link rel="shortcut icon"  type="image/x-icon" href="favicon.ico" />
    ${cssRuntime}

    <title>IM - BlueMind</title>

  </head>
  <body>
    <div id="header"></div>
    <div id="content-menu"></div>
    <div id="content-body"></div>
    ${jsRuntime}

    <noscript>
      <div>
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
      </div>
    </noscript>

  </body>
</html>
