<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="gwt:property" content="locale=${BMLang}"/>
    <link rel="shortcut icon"  type="image/x-icon" href="favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/settings/Settings.css"/>

     ${cssRuntime}
    <title>${appName} - BlueMind</title>
    
  </head>
  <body>
	<div id="header"><!-- needed --></div>
  	
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex="-1" style="position:absolute;width:0;height:0;border:0">
    <!-- comment -->
    </iframe>
    
   ${jsRuntime}
  <noscript>
    <div>
      Your web browser must have JavaScript enabled
      in order for this application to display correctly.
    </div>
  </noscript>
 </body>
</html>
