#logo {
	display: block;
	top: 103px;
	left: 12.5%;
	border: 5px solid white;
	-webkit-box-shadow: 0px 0px 50px 5px rgba(10, 10, 10, 0.5);
	-moz-box-shadow: 0px 0px 50px 5px rgba(10, 10, 10, 0.5);
	box-shadow: 0px 0px 50px 5px rgba(10, 10, 10, 0.5);
}

#bottomLogo {
	margin-top: 18px;
	display: inline;
}

#orangePeel {
  display: none;
}

.bmLogoSlide {
	width: 10px;
	height: 40px;
	display: inline !important;
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all 0.1s, -webkit-transform 0.1s;
	transition: all 0.1s, transform 0.1s;
	background-color: #002f6b;
	background-image: url(../images/bluemind-credits-deplie.png);
	background-image: -webkit-image-set(url(../images/bluemind-credits-deplie.png) 1x,
		url(../images/bluemind-credits-deplie@2x.png) 2x);
	background-image: image-set(url(../images/bluemind-credits-deplie.png) 1x,
		url(../images/bluemind-credits-deplie@2x.png) 2x);
	background-repeat: no-repeat;
	background-position: -23px;
}

.bmLogoSlide:hover {
	width: 150px;
	background-position: initial;
}

.bmLogoSlide .version {
	color: #0192C9;
	padding-right: 10px;
	vertical-align: middle;
	display: none;
}

.bmLogoSlide:hover .version {
	display: inline;
}
