.goog-button-base-top-shadow {
  display: none;
}

.goog-button-base {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  /* @alternate */ background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  /* @alternate */ background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  /* @alternate */ background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  /* @alternate */ background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  /* @alternate */ background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 3px 14px 4px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.goog-button-base-checked, .goog-button-base[checked] .goog-button-base-hover, .goog-button-base:hover {
  background-position: 0 -15px;
  text-decoration: none;
}

.goog-button-base-focused, .goog-button-base:focus {
  outline: 1px dotted #666;
}

.goog-button-base-first {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right:none;
}
.goog-button-base-middle {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-right:none;
}

.goog-button-base-last {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.split-left {
  margin-right:0;
}

.split-right {
  margin-left:0;
  padding-left:2px;
  padding-right:2px;
}

.goog-primaryactionbutton {
  color: #ffffff;
  background-color: #0064CD;
  background-repeat: repeat-x;
  background-image: linear-gradient(to bottom, #049CDB, #0064CD);
  /* @alternate */ background-image: -khtml-gradient(linear, left top, left bottom, from(#049CDB), to(#0064CD));
  /* @alternate */ background-image: -moz-linear-gradient(top, #049CDB, #0064CD);
  /* @alternate */ background-image: -ms-linear-gradient(top, #049CDB, #0064CD);
  /* @alternate */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049CDB), color-stop(100%, #0064CD));
  /* @alternate */ background-image: -webkit-linear-gradient(top, #049CDB, #0064CD);
  /* @alternate */ background-image: -o-linear-gradient(top, #049CDB, #0064CD);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049CDB', endColorstr='#0064CD', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: rgba(27, 82, 123, 0.1) rgba(27, 82, 123, 0.1) rgba(27, 82, 123, 0.25);
}

.dangerousactionbutton {
  color: #FFF;
  background-color: #C43C35;
  background-repeat: repeat-x;
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  /* @alternate */ background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  /* @alternate */ background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  /* @alternate */ background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  /* @alternate */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  /* @alternate */ background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  /* @alternate */ background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: rgba(196, 60, 53, 0.1) rgba(196, 60, 53, 0.1) rgba(136, 42, 37, 0.25);
}

.goog-button-base-open, .goog-button-base-active, .goog-button-base:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.goog-button-base-disabled, .goog-button-base[disabled], .goog-button-base-disabled:active, .goog-button-base-disabled:focus {
  cursor: default;
  background-image: none;
  outline: none;
  background-color: #e6e6e6;
  color: #888;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);  
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  /* filter: alpha(opacity=65); */
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

::root .goog-menu-button-dropdown {
  line-height: normal;
}

.goog-menu-button-dropdown {
	display: inline-block;
	width: 1em;
}

.goog-menu-button-dropdown:before {
  content: "\25bc";
  margin: 0;
  vertical-align: middle;
  width: 0;
  display: inline-block;
  font-size: 80%;
  padding: 0.1em;
}

.goog-button-base-disabled .goog-menu-button-dropdown, .goog-button-base[disabled] .goog-menu-button-dropdown {
  color: #888;
}

.goog-link-button {
  position: relative;
  color: #00f;
  cursor: pointer;
}

/* State: disabled. */
.goog-link-button-disabled {
  color: #888;
  text-decoration: none;
  cursor: default;
}

.goog-combo-button {
  vertical-align: middle;
}

.goog-combo-button-inner-box {
  display: table;
}

.goog-combo-button-inner-box .goog-button-base:first-child {
  display: table-cell;
  width: 100%;
}

.goog-combo-button .goog-button-base-collapse-left {
  border-left-style: hidden;
}

.goog-combo-button .goog-button-base-collapse-right {
  border-right-style: hidden;
}

/* Pill (collapsed border) styles. */
.goog-button-base-collapse-right,
.goog-button-base-collapse-right .goog-button-base-outer-box,
.goog-button-base-collapse-right .goog-button-base-inner-box {
  margin-right: 0;
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;  
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;      

}

.goog-button-base-collapse-left,
.goog-button-base-collapse-left .goog-button-base-outer-box,
.goog-button-base-collapse-left .goog-button-base-inner-box {
  margin-left: 0;
  border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;  
  border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;  
}

.goog-trash-button {
  outline: none;
  cursor: pointer;
  height: 21px;
  vertical-align: bottom!important; 
}

.goog-trash-button-lid {
  position: absolute;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  cursor: pointer;
  clip: rect(auto, auto, 4px,auto);
  margin-top: -1px;
  height: 5px;
}

.goog-trash-button-can {
  position: absolute;
  cursor: pointer;
  clip: rect(3px, auto, auto, auto);
}

.goog-trash-button .fa-lg {
  line-height: 1em;
}

.goog-trash-button-focus .goog-trash-button-lid,.goog-trash-button-hover> .goog-trash-button-lid {
  -webkit-transition: -webkit-transform 200ms;
  -webkit-transform: rotate(-45deg);
  transition: transform 200ms;
  -moz-transition: -moz-transform 200ms;
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.goog-flat-menu-button {
  border: 1px solid transparent;
  color: #333;
  cursor: pointer;
  font: normal 95%;
  list-style: none;
  margin: 0 2px;
  outline: none;
  padding: 1px 4px;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
}

.goog-flat-menu-button-disabled  {
  color: #999;
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  /* filter: alpha(opacity=5); */
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;  
}

.goog-flat-menu-button-hover {
  border: 1px solid #ccc;
  border-color: #9cf #69e #69e #7af !important; /* Hover border wins. */
}

.goog-flat-menu-button-active {
  background-color: #bbb;
  background-position: bottom left;
}

.goog-flat-menu-button-focused {
  border-color: #bbb;
}

.goog-flat-menu-button-caption {
  padding-right: 10px;
  vertical-align: top;
}

.goog-flat-menu-button-dropdown {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAFCAYAAACJmvbYAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUdCRM33mR6cQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAA/SURBVAjXYzRwL/nPgAMwLZ2YhVVi6cQsBkYGBgaGqzfu/Y/On4Yioa2hxAgXuHrj3n8D95L/V2/cw24NugQAItQYt4vpL6kAAAAASUVORK5CYII=) no-repeat 50% 7px;
  position: absolute;
  right: 2px;
  top: 0;
  vertical-align: top;
  width: 7px;
}

.goog-flat-button {
  position: relative;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;  
  -webkit-user-select: none;
  background: none;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding: 0;
  height: 24px;
  color: #444;
  line-height: 24px;
  list-style: none;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  -moz-outline: none;

}

/* State: disabled. */
.goog-flat-button-disabled {
  color: #888;
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  /* filter: alpha(opacity=5); */
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/* State: hover. */
.goog-flat-button-hover {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border-color: #c6c6c6!important;
  color: #222;
  padding: 0;
}

/* State: active, selected, checked. */
.goog-flat-button-active,
.goog-flat-button-selected,
.goog-flat-button-checked {
  border-color: #c6c6c6!important;  
  color: #5b4169;
  background-color: #ccc;
}

/* State: focused. */
.goog-flat-button-focused {
  border-color: #5b4169;
}

/* Pill (collapsed border) styles. */
.goog-flat-button-collapse-right {
  margin-right: 0;
}

.goog-flat-button-collapse-left {
  margin-left: 0;
  border-left: none;
}

.goog-button-left {
  height: 13px;
  margin: 0 1px;
  position: relative;
  display: inline-block;  
}

.goog-button-icon {
  height: 13px;
  margin: 0 1px;
  position: relative;
  display: inline-block;  
}

.goog-button-icon.halflings {
  padding-left: 13px;
}

.goog-button-icon.glyphicons {
  padding-left: 13px;
}

.goog-button-icon.glyphicons:before {
  font-size: 13px;
}
