<div id="header">
  <div id='banner'></div>
</div>

<div id="taskbar" class="topright" style="display:none"></div>

<script type="text/javascript"  language="javascript">
  window.bmExtensions_ = <roundcube:var name='env:bmExtensions' /> ;
  window.bmcSessionInfos = {
    "sid": "<roundcube:var name='env:bmSid' />",
    "login": "<roundcube:var name='env:bmLogin' />",
    "defaultEmail": "<roundcube:var name='env:bmDefaultEmail' />",
    "userId": "<roundcube:var name='env:bmUserId' />",
    "domain": "<roundcube:var name='env:bmDomain' />",
    "lang": "<roundcube:var name='env:bmLang' />",
    "jid": "<roundcube:var name='env:bmJID' />",
    "hasIM": "<roundcube:var name='env:bmHasIM' />",
    "roles": "<roundcube:var name='env:bmRoles' />",
    "bmVersion": "<roundcube:var name='env:bmVersion' />",
    "bmBrandVersion": "<roundcube:var name='env:bmBrandVersion' />"

  };
</script>

<script type="text/javascript"  language="javascript" src="plugins/bm_webmail/js/compile/net.bluemind.webmodule.server.js">
</script>

