<!DOCTYPE html>
<html manifest="calendar.appcache">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon"  type="image/x-icon" href="favicon.ico" />
    ${cssRuntime}

    <title>${appName} - BlueMind</title>

  </head>
  <body>
    <div id="header"></div>
    <div id="content-menu"></div>
    <div id="content-right"></div>
    <div id="content-body"></div>
    <div id="full"></div>
	${jsRuntime}

    <noscript>
      <div>
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
      </div>
    </noscript>
  </body>
</html>